
body{
    background-color: #20272F;
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #20272F;
    color: white;
    align-items: center;
    text-align: center;
    font-family: 'Consolas';
}

.video-title{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.big-V{
    color:#E64E39;
    font-size: 200px;
}

.-ideos{
    color:#47FFDA;
    font-size: 60px;
}

.wrapper-video{
    background-color: white;
    width: 1080px;
    height: 580px;
    border-radius: 30px;
    position: relative;
}

.wrapper-video-title{
    display: flex;
    position: absolute;
    margin-left: 3.65rem;
    margin-top: 1.3rem;
}

.video-yt{
    padding-top: 4rem;
}

.video-dot{
    margin-right: 10px;
    margin-top: 4px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.red{
    background-color: #FF605C;
}

.orange{
    background-color: #FFBD44;
}

.green{
    background-color: #00CA4E;
}

.video-yt-title{
    margin-left: 1rem;
    color: #20272F;
    font-size: 20px;
}

.video-desc{
    font-size: 16px;
    font-weight: normal;
    margin-top: 4rem;
    width: 1080px;
    text-align: justify;
}

.explanation-example{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explanation{
    font-size: 60px;
    color: #47FFDA;
    align-self: flex-start;
    padding-top: 2rem;
}

.and{
    font-size: 200px;
    color: #E64E39;
}

.example{
    font-size: 60px;
    color: #47FFDA;
    align-self: flex-end;
    padding-bottom: 2.2rem;
}

.number{
    font-size: 200px;
    color: #E64E39;
}

.article{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
}

.last-article{
    padding-bottom: 3rem;
}

.text{
    margin-left: 1rem;
    margin-right: 2rem;
}

.article-subheading{
    font-size: 40px;
    color: #47FFDA;
}

.article-desc{
    margin-top: 1rem;
    font-size: 16px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.snippet{
    max-width: 25rem;
}
