body{
    background-color:#20272F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 0;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #3083FF;
}

::-webkit-scrollbar-track{
    background-color: white;
}

p, a{
    font-family: 'consolas';
}

a{
    text-decoration: none;
    color: inherit;
}

a > img{
    width: 4rem;
}

img{
    display: block;
    max-width: 100%;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 4.5rem;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.wrapper-header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.header-logo, .header-audio{
    align-self: center;
    /* margin-right: 5rem; */
    position: absolute;
}

.header-audio{
    right: 0;
    margin: 2rem;
    font-size: 40px;
}

#audio-button{
    color: #20272F;
    cursor: pointer;
}

#audio-button:hover{
    opacity: .8;
}

.header-logo img{
    width: 120px;
}

.wrapper-navbar-text{
    /* width: 60rem; */
    /* display: flex; */
    align-self: center;
    justify-content: space-between;
    /* font-family: 'Consolas'; */
    font-size: 36px;
}

.navbar-text{
    text-align: center;
    padding: 0 6rem;
}

.navbar-text:hover{
    color: #3083FF;
}

/* BODY */

.body{
    color:#20272F;
}


.curr-page{
    color:#E64E39;
}

.curr-page:hover{
    color:#E64E39;
}

.body{
    background-color: #20272F;
}

.body-image{
    max-width: 500px;
}

.body-top{
    /* width: 1600px; */
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
}

.body-top-text{
    color: white;
    /* width: 600px; */
    padding-left: 2rem;
}

.body-top-title{
   max-width: 40vw;
   font-size: 52px;
}

.body-top-link{
    padding-top: 2rem;
    max-width: 22vw;
    display: flex;
    justify-content: space-between;
    color: #E64E39;
    font-size: 24px;
}

.body-link:hover{
    color:#47FFDA;
}

.body-partners{
    padding: 3rem 0;
}

.body-partners-title, .body-testimonial-title{
    color: #47FFDA;
    text-align: center;
    font-size: 52px;
}

.body-partners-content{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 5rem;
}

.card{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
}

.card img{
    width: 100%;
    padding: 2rem;
}

.circle{
    height: 210px;
    width: 210px;
    background-color: white;
    border-radius: 50%;
    /* display: inline-block; */
}

.card-overlay{
    position:absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: #20272F;
    color: white;
    /* border-radius: 50%; */
    /* z-index: -1000; */
}

.card-overlay p{
    font-size: 24px;
    /* margin-top: auto; */
    text-align: center;
    /* top: 50%; */
    margin-top: 43%;
}

.card:hover .card-overlay{
    opacity: .8;
}

.body-testimonial{
    padding-bottom: 7rem;
    max-width: 80vw;
    margin: auto;
}

.testimonial-button{
    display: flex;
    justify-content: right;
    padding: 2rem 5rem;
}

.testimonial{
    font-size: 30px;
    color: wheat;
    text-align: center;
    background-color: white;
    margin: 0 2.5vw;
    border-radius: 5px;
}

.body-testimonial-content{
    margin: auto;
}

.testimonial-image{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.testimonial-image img{
    max-width: 100px;
}

.testimonial-star{
    padding: 3.5vh 0;
    font-size: 22px;
}

.testimonial-comment{
    font-size: 18px;
    color: #20272F;
    padding-bottom: 4vh;
    height: 4rem;
}

.testimonial-name{
    font-size: 16px;
    color: #3083FF;
    padding-bottom: 10vh;
}

.prev, .next{
    color: white;
    font-size: 48px;
    margin: 0 1vw;
}

.prev:hover, .next:hover{
    cursor: pointer;
}


/* FOOTER */

footer{
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-evenly;
    /*position: fixed;*/
    margin-top: 2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E64E39;
    box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.14);
    flex-direction: row;
    text-align: center;
}

.copyright{
    display: flex;
    flex-direction: row;
    font-family: 'Consolas';
    font-size: 20px;
    color: white;
    padding-right: 10rem;
    align-items: center;
}

.logos{
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
}

.sosmed-logos{
    max-width: 40px;
    max-height: 40px;
    margin: 0 10px 0 10px;
}
